vrrp_instance VI_1 {
    state   {{ 'MASTER' if bind_role == 'primary' else 'BACKUP' }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1

authentication {
    auth_type PASS
    auth_pass {{ keepalived_auth_pass }}
}

    virtual_ipaddress {
        {{ virtual_ip }}
    }

    track_script {
        chk_dns
    }
}

vrrp_script chk_dns {
    script "dig @127.0.0.1 check.jb-ta.local +short >/dev/null 2>&1"
    interval 2
    timeout 3
    fall 2
    rise 2
}
